.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.pagination a {
    cursor: pointer;
    padding: 10px;
}
.pagination a.active {
    background-color: #007bff;
    color: white;
}

.gallery-list .heading{
    margin-top: 50px;
}

.galley-card{
    padding: 0 15px;
    text-align: center;
}

.galley-card h5{
    color: #333;
    font-size: 15px;
    font-weight: 600;
    padding-top: 15px;
}

@media only screen and (max-width: 768px) {
    .galley-card {
        padding: 0;
    }
    .galley-card h5 {
        padding-top: 5px;
    }
}

